* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

.App {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.cart-container {
  display: flex;
}

.cart-list-container {
  flex: 3;
}

.total-amount-container {
  flex: 1;
}